<div id="restaurants">
  <% restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <%#= render 'restaurants/restaurant', restaurant: restaurant %>
    <p>
      <%= link_to "Show this restaurant", restaurant %>
    </p>
  <% end %>
</div>
